<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">MEDIUM</h1>
    <p class="lead">Don't keep your Knowledge, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button"> <i class="fa fa-user-plus fa-4x" aria-hidden="true"></i> Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button"> <i class="fa fa-sign-in fa-4x" aria-hidden="true"></i> Login </a>
  </div>
</div>

<%- include('partials/footer') %>
